.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.app-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.map-container {
  flex-grow: 1;
}

/* På små skärmar, gör rubrik mindre */
@media (max-width: 600px) {
  .app-header h1 {
    font-size: 1.2rem;
  }
}